.account-close {
    align-self: flex-end;
    margin: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(133, 105, 13);
    font-weight: bolder;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.account-close:hover {
    background-color: rgba(236, 210, 18, 0.095)
}

/* profile details section of account pull out */

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.profile-details .profile-img {
    width: 120px;
    height: 120px;
}

.profile-details button {
    background: none;
    border: none;
} 

.profile-details button:hover {
    text-decoration: underline;
}

.profile-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 90%;
}

.profile-inputs > label {
    margin: 8%;
}

.show-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 20%;
    width: 50%;
}

.user-signout {
    position: absolute;
    bottom: 3%;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: rgba(250, 235, 215, 0.542);
    transition: color 2s;
}

.user-signout:hover {
    color: rgba(94, 91, 85, 0.785);
}

/* Account settings modal css
---------------------------------*/

.modal-form-container .settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

.modal-form-container .settings-container table {
    border-radius: 50px;
    height: 50%;
    width: 90%;
    border-collapse: collapse;
}

.modal-form-container .settings-container th, td {
    border-bottom: antiquewhite solid 1px;
    padding: 5%;
}  

.modal-form-container .settings-container th {
    width: 40%;
}

.modal-form-container .settings-container td {
    width: 60%;
    text-align: center;
}

.modal-form-container .settings-container td .username-update * {
    display: inline-block;
    margin: 5%;
}

.modal-form-container .settings-container td .username-update input {
    background: none;
}


.modal-form-container .settings-container td button {
    background: none;
    border: none;
    font-size:medium;
}

.modal-form-container .settings-container td button:hover {
    text-decoration: underline;
}



