/* topline styling for buddies section
------------------------------------------ */

.my-buddies-main {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.buddies-close {
    align-self: flex-start;
    margin: 5px;
}

.sections-selector {
    display: flex;
    width: 90%;
    margin-top: 2%;
}

.sections-selector button {
    align-self: flex-start;
}

.sections-container {
    width: 90%;
    height: 90%;
    border: white dashed 0.5px;
    border-radius: 10px;
}

.buddies-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100%;
 width: 100%;
}

/* advert section styling 
------------------------------------------ */


.buddies-container.advert .add-advert {
    display: flex;
    margin: 5%;
    height: 80px;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: white dashed 0.5px;
    border-radius: 10px;
}

.add-advert button {
    background: none;
    border-radius: 50%;
    border: white dashed 0.5px;
    color: white;
    width: 30px;
    height: 30px;

}

.add-advert button:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

/* new advert form modal styling */

.modal-form-container.new-advert-modal-form-container {
    padding: 1%;
}

.modal-form {
    overflow: scroll;
}

/* request section styling 
------------------------------*/

/* sent requests */

.sent-requests {
    overflow: scroll;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sent-requests .sent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sent-requests .sent.active {
    margin-bottom: 20%;
}

.sent-requests .sent > div {
    margin: 0% 1% 0% 1%;
    padding: 5%;
    border: white dashed 0.5px;
}

/* Active buddys section styling
---------------------------------- */

.active-buddy-list {
    overflow: scroll;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buddies-container > h1 {
    align-self: flex-start;
    margin-left: 5%;
}

.active-buddy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: white dashed 0.5px;
}

.active-buddy > div {
    display: flex;
    flex-direction: column;
}

/* styling specifc for active user modal  */

.modal-form-container.buddy-container .user-info {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 1% 0% 0% 2%;
    position: absolute;
}

.modal-form-container.buddy-container .user-info h1 {
    font-size: medium;
}

.modal-form-container.buddy-container .back-button {
    margin-top: 1%;
    background: none;
    border: none;
    color: antiquewhite;
    align-self: flex-end;
}

.modal-form-container.buddy-container .back-button:hover {
    text-decoration: underline;
}