/* topline styling for buddies section
------------------------------------------ */

.my-buddies-main {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.buddies-close {
    align-self: flex-start;
    margin: 5px;
}

.sections-selector {
    display: flex;
    width: 90%;
    margin-top: 2%;
}

.sections-selector button {
    align-self: flex-start;
}

.sections-container {
    width: 90%;
    height: 90%;
    border: white dashed 0.5px;
    border-radius: 10px;
}

.buddies-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100%;
 width: 100%;
}

/* advert section styling 
------------------------------------------ */


.buddies-container.advert .add-advert {
    display: flex;
    margin: 5%;
    height: 80px;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: white dashed 0.5px;
    border-radius: 10px;
}

.add-advert button {
    background: none;
    border-radius: 50%;
    border: white dashed 0.5px;
    color: white;
    width: 30px;
    height: 30px;

}

.add-advert button:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

/* new advert form modal styling */

.modal-form-container.new-advert-modal-form-container {
    padding: 1%;
}

.modal-form {
    overflow: scroll;
}

/* request section styling 
------------------------------*/

/* sent requests */

.sent-requests {
    overflow: scroll;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sent-requests .sent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sent-requests .sent.active {
    margin-bottom: 20%;
}

.sent-requests .sent > div {
    margin: 0% 1% 0% 1%;
    padding: 5%;
    border: white dashed 0.5px;
}

/* Active buddys section styling
---------------------------------- */

.active-buddy-list {
    overflow: scroll;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buddies-container > h1 {
    align-self: flex-start;
    margin-left: 5%;
}

.active-buddy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: white dashed 0.5px;
}

.active-buddy > div {
    display: flex;
    flex-direction: column;
}

/* Styling specifc for active user modal  */

.modal-form-container.buddy-container {
    align-items: center;
}

.modal-form-container.buddy-container > div {
    display:flex;
}

.modal-form-container.buddy-container .user-info {
    align-self: flex-start;
    align-items: center;
    position: absolute;
    height: 5%;
    width: 25%;
    gap: 2%;
    margin: 1% 0% 0% 1%;
}

.modal-form-container.buddy-container .user-info h1 {
    font-size: medium;
}

.modal-form-container.buddy-container .back-button {
    margin-top: 1%;
    background: none;
    border: none;
    color: antiquewhite;
    align-self: flex-end;
}

.modal-form-container.buddy-container .back-button:hover {
    text-decoration: underline;
}

.modal-form-container.buddy-container .buddy-modal-manageAd {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    align-items: center;
}

.modal-form-container.buddy-container .buddy-modal-manageAd > div {
    width: 100%;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .advert-info {
    display: flex;
    flex-direction: column;
    columns: 2;
    height: 20%;
    flex-wrap: wrap;
    align-items: center;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .advert-info-ammend {
    display: flex;
    justify-content: center;
    gap:10px;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .advert-info-ammend > button {
    width:30%;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .paid-and-purchase-status {
    display: flex;
    width:90%;
    justify-content: center;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .paid-and-purchase-status .purchase-status {
    width: 60%;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .paid-and-purchase-status .paid-status {
    width: 40%;
    align-items: center;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .paid-and-purchase-status .balance-status > div  {
    display: flex;
    gap:5px;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .log-activity  {
    justify-content: center;
    display: flex;
    gap:5px;
    margin: 3%;
}

.modal-form-container.buddy-container .buddy-modal-manageAd .log-activity > button  {
    width: 45%;
}

/* calendar CSS 
-------------------------*/
.calendar {
    display: flex;
    flex-direction: column;
    width:90%;
    height: 30%;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.534);
    padding: 1%;
}

.calendar .calendar-month {
    width: 100%;
}

.calendar .calendar-elements {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width:100%;
    height: 60%;
}

.calendar .calendar-elements .calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 0.2px;
}

.calendar .calendar-elements .calendar-day .day-date {
    display: flex;
    flex-direction: column;
    height: 33%;
    background-color: rgba(255, 255, 255, 0.129);
    gap: 2%;
}

.calendar .calendar-elements .calendar-day .day-date > p {
    font-size: small;
    padding: 0;
    margin: 0;
}

.calendar .calendar-elements .calendar-day .logged-event {
    font-size:small;
    padding: 0;
    margin: 5%;
}

.calendar .calendar-elements .calendar-day .logged-event:hover {
    background-color: rgba(255, 255, 255, 0.129);
    border-radius: 5%;
}

.calendar .calendar-elements .calendar-day .logged-event > p {
    font-size:small;
    padding: 0;
    margin: 5%;
}

/* Modal to log purchase & payment events
--------------------------------------------------------*/

.modal-form-container.log-event-modal {
    height: 50%;
    border: solid white 3px;
}

.modal-form-container.log-event-modal .modal-header{
    display: flex;
    justify-content: space-between;
}


.modal-form-container.log-event-modal .log-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-container.log-event-modal .log-event-form > label {
    width: 50%;
    margin-bottom: 3%;
}