.login-background {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(https://images.pexels.com/photos/5732752/pexels-photo-5732752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* header/login section
----------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: rgba(255, 166, 0, 0.862);
}

header h1 {
    margin: 0% 0% 0% 2%;
}

/* login form
---------------------------------- */

header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 20px;
    margin-right: 3%;
}

header form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* registration modal & form */

.user-reg-modal {
    background-color: white;
}

.user-reg-error {
    background-color: white;
}

/* footer 
----------------------------------*/

footer {
    display: flex;
    align-self: flex-end;
    height: 15%;
    width: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    background-color:  rgba(255, 166, 0, 0.862);
}