.login-background {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.108);
    background-image: url(https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: 100% auto;
    background-position-y: 45%;
    background-blend-mode:overlay;
}

/* header/login section
----------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 17%;
    background-color: rgba(255, 166, 0, 0.786);
}

header h1 {
    margin: 0% 0% 0% 2%;
    font-size: 40px;
    font-weight:bolder;
}

/* login form
---------------------------------- */

header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 20px;
    margin-right: 3%;
}

header form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: large;
}

header form label input {
    font-size: large;
}

header form input[type='submit'] {
    background-color: rgba(255, 166, 0, 0.916);
    font-size: small;
    width: auto;
    height: auto;
    margin: none;
    padding: none;
    font-weight: bolder;
    font-size: medium;
}

/* main & registeration div section
---------------------------------------*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .login-info {
    height: 65%;
    width: 35%;
    padding: 1% 3% 3% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
    margin-left: 50%;
}

main .login-info > * {
    text-align: center;
}

main .login-info h2 {
    font-weight: bolder;
}

main .login-info p {
    font-size:large ;
    font-weight:bold;
    width: 80%;
}

main .login-info .reg-container {
    width: 60%;
}

main .login-info .reg-container p {
    font-size: medium;
    font-weight: lighter;
    width: auto;
}

main .login-info .reg-container button {
    background: none;
    border: none;
    font-size: medium;    
}

main .login-info .reg-container button:hover {
    text-decoration: underline;
}

/* registration modal & form */

.modal-form-container.registration {
    align-items: center;
    height: auto;
    padding: 1%;
}

.modal-form-container.registration .modal-form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.modal-form-container.registration .modal-form input {
    width: 80%;
}

.modal-form-container.registration .modal-form label input {
    width: 100%;
    font-size: large;
}

.modal-form-container.registration .modal-form input[type='submit'] {
    margin-top: 5%;
}



/* footer 
----------------------------------*/

footer {
    display: flex;
    align-self: flex-end;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.786);
}