/* topline structure css */

body {
    padding: 0;
    margin: 0;
}


main {
    width: 100%;
    height: 100%;
}

 /* main page
 --------------------------- */
 /* Map properties to set layering order priority */

 .leaflet-control { z-index: 0 !important}
 .leaflet-pane { z-index: 0 !important}
 .leaflet-top, .leaflet-bottom {z-index: 0 !important}
 

/* Loading spinner CSS
--------------------------- */
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
}

/* main nav buttons */

.nav-button-container {
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 20px;
}

.nav-button-container button {
  height: inherit;
  width: 50%;
  border: none;
  transition: all 0.2s;
  background-color: rgba(48, 48, 48, 0.456);
  color: antiquewhite;
  font-size: larger;
  font-weight: bold;
}

.nav-button-container .nav-my-account {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.nav-button-container .nav-my-buddies {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.nav-button-container .active {
  transform: scale(0.98);
  color: yellow;
  /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
}



/* Main pull out sections CSS */

.my-account-main {
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
    background-color: rgba(220, 169, 2, 0.825);
    border-radius: 0px 30px 30px 0px;
}

.my-buddies-main {
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top:0;
    z-index: 3;
    background-color: rgba(220, 169, 2, 0.825);
    border-radius: 30px 0px 0px 30px;
}

/*Notification section styling */

.notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 550px;
  margin: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.566);
  border-radius: 50px 50px 0% 0%;
  transition: height 1s;
}

.notifications-container.collapse {
  height: 4%;
}

.notifications-container.expand {
  height: 70%;
}

.notifications-container .expand-button {
  background: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
  border: none;
  padding: 1%;
}

.notifications-container .unread-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  right: 0;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: rgb(170, 13, 13);
  color: whitesmoke;
  font-weight:bolder;
}

.notifications-container .notifications-reel {
  width: 90%;
  height: 94%;
  border-radius: 50px 50px 0px 0px;
  padding: 4% 2% 0% 2%;
  background-color: rgb(34, 34, 34);
  overflow-y: scroll;
  gap: 2%;
}

.notifications-container .notifications-reel .info-tile.notification {
  background: none;
  color: whitesmoke;
  border-radius: 0%;
  margin: 2% 0% 2% 0%;
  border-bottom: solid rgba(245, 245, 245, 0.192) 1px;
  flex-direction: column;
}

.notifications-container .notifications-reel .info-tile.notification span {
  align-self: flex-end;
  margin: 1% 2% 0% 0%;
  font-size: small;
}


.notifications-container .notifications-reel .info-tile.notification p {
  margin: 0% 2% 1% 2%;
}

/* standard modal styling */

.modal-background {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    background:rgba(0, 0, 0, 0.444);
    overflow: hidden;
}

.modal-background.show {
    z-index: 2;
}

.modal-form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: 30%;
    background:rgba(220, 169, 2, 0.825);
    color: antiquewhite;
}

.modal-form-container .close-modal {
    align-self: flex-end;
    margin: 10px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* form input slider default styling */

label {
    display: flex;
    flex-direction: column;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }

  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }

  /* Form checkbox basic styleing */

  .form-checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: circle;
  }

  .form-checkbox-list li {
    margin: 3%;
  }

  /* Generic icon & button styling 
  ---------------------------------------*/

  /* Add button styling */
  .add-button {
    background: none;
    border-radius: 50%;
    border: none;
    color: rgba(224, 224, 224, 0.385);
    width: 60px;
    height: 60px;
    font-size: xx-large;
    font-weight: bold;
    transition: background-color 0.8s;
  }

  .add-button:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

/* go to chat button */

.user-chat-button {
  background: none;
  border:none;
  font-weight: bolder;
  font-size: medium;
  color: rgba(250, 235, 215, 0.488);
  transition: color 1s;
}

.user-chat-button:hover {
  color: antiquewhite;
}

/* base information tile CSS */

.info-tile {
  display: flex;
  background-color: rgba(255, 255, 255, 0.093);
  border-radius: 25px;
  width: 98%;
}

/* basic profile image styling */

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgba(0, 0, 0, 0.189);
  border-radius: 50%;
  width: 90px;
  height: 90px;
}