/* topline structure css */

body {
    padding: 0;
    margin: 0;
}


main {
    width: 100%;
    height: 100%;
}

 /* main page
 --------------------------- */
 /* Map properties to set layering order priority */

 .leaflet-control { z-index: 0 !important}
 .leaflet-pane { z-index: 0 !important}
 .leaflet-top, .leaflet-bottom {z-index: 0 !important}
 

/* main nav buttons */

.nav-button-container {
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    z-index: 3;
    margin: auto;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.566);
    border-radius: 20px;
}

.nav-home {
    position: relative;
    padding: 30px;
    background-color: var(--accent);
    border-radius: 100%;
    width: fit-content;
}

/* Main pull out sections CSS */

.my-account-main {
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
    background-color: #051723d2;
}

.my-buddies-main {
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top:0;
    z-index: 3;
    background-color: rgba(5, 23, 35, 0.825);
}

/* standard modal styling */

.modal-background {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    background:rgba(0, 0, 0, 0.418);
    overflow: hidden;
}

.modal-background.show {
    z-index: 2;
}

.modal-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modal-form-container .close-modal {
    align-self: flex-end;
    margin: 10px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* form input slider default styling */

label {
    display: flex;
    flex-direction: column;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }

  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }

  /* Form checkbox basic styleing */

  .form-checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: circle;
  }

  .form-checkbox-list li {
    margin: 3%;
  }

  /* user section & modal stylings 
  --------------------------------------------*/

  /* top level other user modal styling */

  .modal-form-container.user-container {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(5, 23, 35, 0.825);
    color: antiquewhite;
  }

  .modal-form-container.user-container .advert-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 50%;
  }

  .advert-section h3 {
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  .advert-section .advert-list-container {
    width:90%;
    height:90%;
    border: solid azure 1px;
    overflow-y: scroll;
  }

